<nav>

<ul>
<li><div><%= link_to 'Home', pages_path %></div></li><li>
<div><%= link_to 'Characters', characters_path %></div></li><li>
<div><%= link_to 'Shows', shows_path %></div></li><li>
<div><%= link_to 'Personalities', pages_path %></div></li><li>
<div><%= link_to 'Tests', pages_path %></div></li><li>
<div><%= link_to 'Tiles', pages_path %></div></li>
</ul>

<ul id="login-area">
	<li><div><%= link_to 'Login', 'page#login' %></div></li><li>
	<div><%= link_to 'Settings', 'pages#settings' %></div></li>
</ul>

</nav>