<div class="sidebar sidebar-two">
	<div class="filmstrip-left"></div><div class="filmstrip-center">
		<div class="filmstrip-divider"></div>

		<div class="sidebar-module">
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
		</div>

		<div class="filmstrip-divider"></div>

		<div class="sidebar-module">
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
		</div>

		<div class="filmstrip-divider"></div>

		<div class="sidebar-module">
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
		</div>

		<div class="filmstrip-divider"></div>

		<div class="sidebar-module">
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
			<div class="module-item"><%= link_to "sidebar one", pages_path %></div>
		</div>

		<div class="filmstrip-divider"></div>
	</div><div class="filmstrip-right"></div>
</div>